<%= form_tag login_path do %>
  <table class="form_table">
    <tbody>
      <tr>
        <td><%= label_tag :username, "username", class: "form_label" %></td>
        <td><%= text_field_tag :username, nil, class: "form_input" %></td>
      </tr>

      <tr>
        <td><%= label_tag :password, "password", class: "form_label" %></td>
        <td><%= password_field_tag :password, nil, class: "form_input" %></td>
      </tr>
      
      <tr>
        <td></td>
        <td><%= submit_tag "login", class: "btn_blue" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
