<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <table class="form_table">
    <tbody>
      <tr class='field'>
        <td><%= f.label :username, "username", class: "form_label" %></td>
        <td><%= f.text_field :username, class: "form_input", autofocus: true %></td>
      </tr>

      <tr class='field'>
        <td><%= f.label :email, "email", class: "form_label" %></td>
        <td><%= f.email_field :email, class: "form_input" %></td>
      </tr>

      <tr class='field'>
        <td><%= f.label :password, "password", class: "form_label" %></td>
        <td><%= f.password_field :password, class: "form_input", autocomplete: "off" %></td>
      </tr>

      <tr class="field">
        <td><%= f.label :password_confirmation, "password confirmation", class: "form_label" %></td>
        <td><%= f.password_field :password_confirmation, class: "form_input", autocomplete: "off" %></td>
      </tr>

      <tr class='field actions'>
        <td></td>
        <td><%= f.submit "join", class: "btn_blue" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= devise_error_messages! %>
