<%= content_tag_for :li, comment do %>
  <% present comment do |comment_presenter| %>
    <h5 class="comment_details">
      <%= comment_presenter.linked_username %> /
      <%= comment_presenter.distant_parent_link %> /
      <%= comment_presenter.post_link("link") %> /
      post: <%= comment_presenter.post_link(comment.post_title) %>
    </h5>

    <p class="comment_text">
      <%= comment_presenter.formatted_text %>
    </p>
  <% end %>
<% end %>
