<%= comment_li(comment) do %>
  <h5 class="comment_details">
    <span class="comment_toggler">[-]</span>
    <%= user_link(comment.user) %>
    <%= time_since(comment.created_at) %>
    <% if comment.edited? %>
      | edited <%= time_since(comment.updated_at) %>
    <% end %>
    <span class="comments_count">(<%= comments_count(comment) %>)</span>
  </h5>

  <div class="comment_main">
    <p class="comment_text">
      <%= comment.text %>
    </p>

    <footer class="comment_links">
      <%= link_to "reply", new_comment_comment_path(comment), remote: true %>
      <%= link_to_parent(comment) %>
      <% if policy(comment).update? %>
        | <%= link_to "edit", edit_comment_path(comment), class: "btn_blue", remote: true %>
      <% end %>
      <% if policy(comment).destroy? %>
        | <%= link_to "delete", comment_path(comment), class: "btn_yellow", method: :delete %>
      <% end %>
    </footer>

    <p class="comment_form"></p>

    <% if comment.top_level_comments.any? %>
      <ul class="comments">
        <%= render comment.top_level_comments %>
      </ul>
    <% end %>
  </div>
<% end %>
