<%= content_tag_for :li, comment do %>
  <% present comment do |comment_presenter| %>
    <h5 class="comment_details">
      <%= comment_presenter.share_link %>
      <span class="comment_toggler">[-]</span>
      <%= comment_presenter.linked_username %>
      <%= comment_presenter.time_since_created %>
      <%= comment_presenter.time_since_edited if comment_presenter.edited? %>
      <%= comment_presenter.linked_shares %>
      <%= comment_presenter.badges %>
    </h5>

    <div class="comment_main">
      <div class="comment_text">
        <%= comment_presenter.formatted_text %>
      </div>

      <footer class="comment_links">
        <%= comment_presenter.reply_link %>
        <%= comment_presenter.parent_link %>
        <%= comment_presenter.edit_link if policy(comment).update? %>
        <%= comment_presenter.delete_link if policy(comment).destroy? %>
        <%= comment_presenter.badge_link %>
      </footer>

      <p class="comment_form"></p>
    </div>
  <% end %>
<% end %>
