<% present @user do |user_presenter| %>
  <div class="user_info_panel">
    <%= user_presenter.avatar %>
    <h4><%= user_presenter.username %></h4>
    <div class="user_stats">
      <h5 class="user_info_header">stats</h5>
      <div class="followees">
        <%= user_presenter.followee_list %>
      </div>

      <div class="followers">
        <%= user_presenter.follower_list %>
      </div>

      <div class="follow_link">
        <%= user_presenter.follow_link if policy(@user).follow? %>
        <%= user_presenter.unfollow_link if policy(@user).unfollow? %>
      </div>

      <h5><%= user_presenter.shares %></h5>
    </div>
  </div>
<% end %>
<div class="user_info_panel">
  <h5 class="user_info_header">posts</h5>
  <ul>
    <%= render @recent_posts, is_blurb: true %>
  </ul>
</div>

<div class="user_info_panel">
  <h5 class="user_info_header">shares</h5>
  <ul>
    <%= render @recent_shared_posts, is_blurb: true %>
  </ul>
</div>

<div class="user_info_panel">
  <h5 class="user_info_header">comments</h5>
  <ul>
    <% @recent_comments.each do |comment| %>
      <%= render "comments/comment_blurb", comment: comment %>
    <% end %>
  </ul>
</div>
