<div class="user_info_panel">
  <%= image_tag @user.avatar.url(:thumb), class: "avatar" %>
  <h4><%= @user.username %></h4>
  <div class="user_stats">
    <h5 class="user_info_header">stats</h5>
    <div class="followees">
      <%= followees(@user) %>
    </div>

    <div class="followers">
      <%= followers(@user) %>
    </div>

    <div class="follow_link">
      <%= follow_link(@user) %>
    </div>

    <h5>Shares: <%= @user.share_count %></h5>
  </div>
</div>

<div class="user_info_panel">
  <h5 class="user_info_header">posts</h5>
  <ul>
    <%= render @recent_posts %>
  </ul>
</div>

<div class="user_info_panel">
  <h5 class="user_info_header">shares</h5>
  <ul>
    <%= render @recent_shared_posts %>
  </ul>
</div>

<div class="user_info_panel">
  <h5 class="user_info_header">comments</h5>
  <ul>
    <% @recent_comments.each do |comment| %>
      <%= render "comments/comment_blurb", comment: comment %>
    <% end %>
  </ul>
</div>
