<div class="user_info_panel">
  <h4><%= @user.username %></h4>
  <div class="user_stats">
    <h5 class="user_info_header">stats</h5>
    <div class="followees">
      <%= followees(@user) %>
    </div>

    <div class="followers">
      <%= followers(@user) %>
    </div>

    <div class="follow_link">
      <%= follow_link(@user) %>
    </div>

    <h5>Shares: <%= @user.share_count %></h5>
  </div>
</div>

<div class="user_info_panel">
  <h5 class="user_info_header">posts</h5>
  <ul>
    <%= render @user.posts.limit(10) %>
  </ul>
</div>

<div class="user_info_panel">
  <h5 class="user_info_header">shares</h5>
  <ul>
    <%= render @user.shared_posts.limit(10) %>
  </ul>
</div>

<div class="user_info_panel">
  <h5 class="user_info_header">comments</h5>
  <ul>
    <%= render @user.comments.limit(10), show_subcomments: false %>
  </ul>
</div>
