<% present @user do |user_presenter| %>
  <div class="user_info_panel">
    <%= user_presenter.avatar %>
    <h4><%= user_presenter.username %></h4>

    <div class="badges_received">
      <%= user_presenter.badges_received_icon %>
    </div>

    <div class="followers">
      <%= user_presenter.followers_icon %>
    </div>

    <div class="follow_link">
      <%= user_presenter.follow_link if policy(@user).follow? %>
      <%= user_presenter.unfollow_link if policy(@user).unfollow? %>
    </div>

    <div class="user_stats">
      <h5 class="user_info_header">stats</h5>
      <ul>
        <li class="followees">
          following: <%= user_presenter.followees_count %>
        </li>
        <li class="badges_given">
          badges given: <%= user_presenter.badges_given %>
        </li>
        <li class="member_time">
          member for: <%= user_presenter.days_a_member %>
        </li>
        <li class="shares_given">
          shares: <%= user_presenter.shares_count %>
        </li>
        <li class="shares_received">
          shares received: <%= user_presenter.shares_received %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<div id='user_details'>
  <div class="user_info_panel">
    <h5 class="user_info_header">posts</h5>
    <ul id='recent_posts'></ul>
  </div>

  <div class="user_info_panel">
    <h5 class="user_info_header">shares</h5>
    <ul id='recent_shared_posts'></ul>
  </div>

  <div class="user_info_panel">
    <h5 class="user_info_header">comments</h5>
    <ul id='recent_comments'></ul>
  </div>

  <div id='user_loader' class="user_info_panel"></div>
</div>
