<%= form_for @post do |f| %>
  <table class="form_table">
    <tbody>
      <tr>
        <td><%= f.label :title, "title", class: "form_label" %></td>
        <td><%= f.text_field :title, class: "form_input_wide" %></td>
      </tr>

      <tr>
        <td><%= f.label :url, "url", class: "form_label" %></td>
        <td><%= f.url_field :url, class: "form_input_wide" %></td>
        <td class="subdued">(leave blank for text only)</td>
      </tr>

      <tr>
        <td><%= f.label :text, "text", class: "form_label" %></td>
        <td><%= f.text_area :text, class: "form_textarea", rows: 10, cols: 60 %></td>
      </tr>

      <tr>
        <td><%= f.label :tag_names, "tags", class: "form_label" %></td>
        <td><%= f.text_field :tag_names, class: "form_input_wide", placeholder: "e.g. world news" %></td>
      </tr>

      <tr>
        <td></td>
        <td><%= f.submit (@post.new_record? ? "submit" : "submit edit"), class: "btn_blue" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
