<div id="post_main">
  <% present @post do |post_presenter| %>
    <h2>
      <%= post_presenter.linked_title %>
      <%= post_presenter.share_link %>
    </h2>

    <h5 class="post_details">
      <%= post_presenter.linked_username %>
      <%= post_presenter.time_since_created %>
      <%= post_presenter.time_since_edited if post_presenter.edited? %> |
      <%= post_presenter.shares %>
    </h5>

    <article class="post_text">
      <%= simple_format post_presenter.text %>
    </article>

    <footer class="post_options">
      <%= post_presenter.edit_link if policy(@post).update? %>
      <%= post_presenter.delete_link if policy(@post).destroy? %>
    </footer>
  <% end %>

  <%= render "comments/form", top_level: true %>
</div>

<hr>

<div id='comments_main'>
  <div id='comments'>
    <% if @post.comments_count < 10 %>
      <ul class= "comments"><%= nested_comments @comments %></ul>
    <% end %>
  </div>
  <div id='comments_loader'></div>
</div>

<span id='comments_count'><%= @post.comments_count %></span>