<div id="post_main">
  <% present @post do |post_presenter| %>
    <h2>
      <%= post_presenter.linked_title %>
    </h2>

    <h5 class="post_details">
      <%= post_presenter.linked_username %>
      <%= post_presenter.time_since_created %> |
      <% if post_presenter.edited? %>
        <%= post_presenter.time_since_edited %> |
      <% end %>
      <%= post_presenter.shares %>

      <% if policy(@post).share? %>
        <%= post_presenter.share_link %>
      <% end %>
    </h5>

    <article class="post_text">
      <%= post_presenter.text %>
    </article>

    <footer class="post_options">
      <% if policy(@post).update? %>
        <%= post_presenter.edit_link %>
      <% end %>

      <% if policy(@post).destroy? %>
        <%= post_presenter.delete_link %>
      <% end %>
    </footer>
  <% end %>

  <%= render "comments/form", top_level: true %>
</div>

<hr>

<ul class="comments">
  <%= nested_comments @comments %>
</ul>

<%= javascript_include_tag "posts" %>
