<h2>
  <%= @post.title %>
</h2>

<h5>
  <%= link_to @post.username, user_path(@post.user) %>
  <%= time_since(@post.created_at) %> |
  <%= shares(@post) %>
  <% if policy(@post).share? %>
    | <%= share_link(@post) %>
  <% end %>
</h5>

<article class="post-text">
  <%= @post.text %>
</article>


<%= render "comments/form", commentable: @post %>

<hr>

<ul class="comments">
  <%= render @post.comments, commentable: @post, show_subcomments: true %>
</ul>
