<!DOCTYPE html>
<html>
<head>
  <title>Monsters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller].parameterize %>_controller"
      class="<%= controller_name %> <%= action_name %>">

<nav id="main_nav">
  <div id="left_nav">
    <%= link_to root_path, id: "monster_icon" do %>
      <%= fa_icon "optin-monster lg" %>
    <% end %>
    <% if user_logged_in? %>
      <%= link_to "Logout", logout_path %> |
      <%= link_to "Profile", profile_path %>
    <% else %>
      <%= link_to "Login", login_path %> | <%= link_to "Join Us", join_path %>
    <% end %>
  </div>

  <div id="right_nav">
    <% if user_logged_in? %>
      <%= link_to "feed", posts_feed_path %>
    <% end %>
    <%= link_to "global", global_path %>
    <%= link_to "tags", tags_path %>
    <%= link_to "+ post", new_post_path, id: "new_post_link",
       class: (user_logged_in? ? "btn_yellow" : "btn_blue") %>
  </div>
</nav>

<div id='below_nav'>
  <%= render "layouts/flash" %>
  <%= yield :sub_nav %>
</div>


<div id="main">
  <%= yield %>
</div>

<footer id="footer_nav">
  <%= link_to "about", root_path %>
  <%= link_to "faq", root_path %>
  <%= link_to "rss", root_path %>
</footer>
</body>
</html>
