<!DOCTYPE html>
<html>
<head>
  <title>HubskiClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller].parameterize %>_controller">

<nav id="main_nav">
  <div id="left_nav">
    <% if user_logged_in? %>
      <%= link_to "Logout", logout_path %> |
      <%= link_to "Profile", user_path(current_user) %>
    <% else %>
      <%= link_to "Login", login_path %> | <%= link_to "Join Us", join_path %>
    <% end %>
  </div>

  <div id="right_nav">
    <% if user_logged_in? %>
      <%= link_to "feed", feed_path %>
    <% end %>
    <%= link_to "global", root_path %>
    <%= link_to "tags", tags_path %>
    <%= link_to "+ post", new_post_path, class: "btn_blue" %>
  </div>

</nav>

<%= yield :sub_nav %>

<div id="flash">
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</div>

<div id="main">
  <%= yield %>
</div>
</body>
</html>
